.sceneNavigation {
    text-align: left;
    margin-top: 20px;
}

.sceneNavigation h2 {
    font-size: 20px;
    font-weight: 300;
}

.sceneList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}