.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.uploadSection,
.exportImportSection {
    background: #fff;
    /* White background for sections */
    border: 1px solid #ddd;
    /* Light border */
    border-radius: 8px;
    /* Rounded corners */
    padding: 15px;
    width: 100%;
    /* Full width */
    max-width: 600px;
    /* Limit max width */
    margin-bottom: 20px;
    /* Space between sections */
}

.exportImportSection h3 {
    margin: 0px 0px 8px 0px;
}

.marker {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.hotspotLink {
    width: 100%;
    margin: 10px 0;
    display: flex;
    gap: 40px;
}

.hotspotLink p {
    font-size: 13px;
}

@media (max-width: 480px) {
    .hotspotLink {
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 24px;
    }

    .hotspotLink div {
        flex-grow: 1;
    }
}

.selectBox {
    width: 350px;
    position: relative;
    box-sizing: border-box;
}

.selectBox select {
    appearance: none;
    width: 100%;
    font-size: 13px;
    padding: 12px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
}

.selectBox::before,
.selectBox::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.selectBox::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.selectBox::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

.errorMessage {
    color: red;
    margin-top: 5px;
    /* Space above error message */
}

.scenesList {
    list-style-type: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove padding */
}

.scenesList li {
    padding: 10px;
    background: #f2f2f2;
    /* Light gray background for list items */
    border: 1px solid #ddd;
    /* Border color */
    border-radius: 4px;
    /* Rounded corners */
    margin: 5px 0;
    /* Space between list items */
    display: flex;
    /* Flex layout for buttons */
    justify-content: space-between;
    /* Space between content and button */
    gap: 8px
}

.scenesList button {
    background: #007bff;
    /* Bootstrap primary color */
    color: white;
    /* White text */
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    /* Padding for buttons */
    cursor: pointer;
    transition: background 0.3s;
    /* Transition for hover effect */
}

.scenesList button:hover {
    background: #0056b3;
    /* Darker shade on hover */
}

.inputDefault {
    border: none;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    outline: none;
    color: inherit;
    width: auto;
    cursor: text;
    border-bottom: 1px solid black;
}

.exportImportSection button {
    background: #28a745;
    /* Success color */
    color: white;
    /* White text */
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    /* Padding for buttons */
    cursor: pointer;
    margin-right: 10px;
    /* Space to the right */
    transition: background 0.3s;
    /* Transition for hover effect */
}

.exportImportSection button:hover {
    background: #218838;
    /* Darker shade on hover */
}

.fullScreenButtonDefault {
    top: 5px;
    left: 40px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    z-index: 10000;
    cursor: pointer;
}

.fullScreenButtonBefore {
    position: absolute;
    padding: 8px;
}

.fullScreenButtonAfter {
    position: fixed;
    padding: 7px;
}

.viewContainer,
.manageScenes {
    width: 100%;
}

.panoViewer {
    position: relative;
    width: 100% !important;
    max-width: 1200px !important;
    height: 50vh !important;
    margin-bottom: 20px !important;
}

@media (max-width: 768px) {
    .panoViewer {
        height: 40vh !important;
    }
}

@media (max-width: 480px) {
    .panoViewer {
        height: 30vh !important;
    }
}

.fileInput {
    margin-bottom: 20px;
}

.headerButton {
    display: flex;
    gap: 40;
}

@media (max-width: 480px) {
    .headerButton {
        flex-wrap: wrap;
        gap: 8px;
    }

    .headerButton div {
        flex-grow: 1;
    }
}

.textCenter {
    text-align: center;
}