.pannellumContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "Raleway", sans-serif;
    background-color: #f7f7f7;
}

.title {
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

.panoViewer {
    width: 100% !important;
    max-width: 1200px !important;
    height: 50vh !important;
    background-color: #000 !important;
    margin-bottom: 20px !important;
}

@media (max-width: 768px) {
    .panoViewer {
        height: 40vh !important;
    }
}

@media (max-width: 480px) {
    .panoViewer {
        height: 30vh !important;
    }
}

.viewContainer {
    width: 100%;
}

.fileInput {
    margin: 20px auto;
}