.addHotspotContainer {
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow: scroll;
}

.backButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-bottom: 20px;
}

.backButton:hover {
    background-color: #0056b3;
}

.addHotspotTitle {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #333;
    margin: 0;
    margin-top: 24px;
    text-align: center;
}